@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/fonts/PlusJakartaSans[wght].ttf");
}
@font-face {
  font-family: "Anton";
  src: url("/fonts/anton.ttf");
}
.container {
  background-color: #d9effa;
  display: flex;
  align-items: center;
  justify-content: start;
  min-height: 500px;
  position: relative;
  padding: 0px !important;
}

.bannerContent {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Plus Jakarta Sans";
}

.content {
  width: 85%;
}
.content p {
  margin: 50px 0px 20px;
}
.description1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 122%;
  letter-spacing: -1%;
  width: 70%;
  text-align: start;
}

.title {
  font-family: "Anton" !important;
  font-weight: 400;
  font-size: 72px;
  line-height: 115%;
  letter-spacing: 0%;
  color: #05202b;
  margin: 6px auto;
  text-transform: uppercase;
}

.description2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 122%;
  letter-spacing: -1%;
  width: 74%;
}

 .bannerImage {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .bannerImage img {
            width: 100%;
            height: auto;
            max-width: 100%;
            object-fit: cover;
        }
.button {
  padding: 23px 56px;
  border-radius: 50px;
  font-size: 20px;
}
@media (max-width: 992px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
  }
  .bannerContent {
    width: 100%;
    text-align: start;
  }
  .content {
    width: 85%;
  }
  .content p {
    margin: 40px 0px 20px;
  }
  .title {
    font-size: 60px;
    margin: 30px auto;
  }
  .description1 {
    font-size: 20px;
    width: 75%;
  }
  .description2 {
    font-size: 15px;
    width: 100%;
  }
.bannerImage {
                width: 100%;
                height: auto;
                margin-top: 20px;
                order: 2;
            }
            
            .bannerImage img {
                height: auto;
                width: 100%;
                max-width: 80%;
                margin: 0 auto;
                display: block;
            }
  .button {
    padding: 20px 50px;
    border-radius: 50px;
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
  }
  .bannerContent {
    width: 100%;
    text-align: start;
    padding: 20px 10px;
  }
  .title {
    font-size: 42px;
    margin: 15px auto;
  }
  .description1 {
    font-size: 16px;
    width: 75%;
  }
  .description2 {
    font-size: 14px;
    width: 100%;
  }
}
  .bannerImage img {
                max-width: 90%;
            }


            @media (max-width:576px){
                .bannerImage img {
                max-width: 100%;
            }
            }